.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.app-container{
  margin: 90px auto 0 auto;
  max-width: 1000px;

}

.jumbotron{
  background: white !important;
  padding: 2rem, 2rem !important;
}

/* .carousel{
  padding-top: 100px;
} */

.carousel-item{
  width: 540px;
  height: 400px;
}


